<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>YourPhotoAlbum</title>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>Benvenuto/a alla web app del tuo album fotografico</h1>
			<div
				sec:authorize="!isAuthenticated()"
			>
				<h3>Per visualizzare le foto, aggiungerne o modificarne accedi: <a href="/login"> clicca qui </a></h3>
			</div>
			<div
				sec:authorize="isAuthenticated()"
			>
				<h3>Benvenuto/a: <span class="text-danger" sec:authentication="name"></span></h3>
				<h3>Lista di tutte le tue foto presenti</h3>
				<h5>Ricerca per nome</h5>
				<form class ="mt-2 mb-4" th:action="@{/users/fotos/search}" method="GET">
					<input type="text" name="userSearch" th:value="${userSearch}">
					<input type="submit" value="Cerca">
				</form>
				<ul class="d-flex flex-wrap">
					<li
						th:each="foto : ${fotos}"
						th:object="${foto}"
						class="m-2 border"
					>
						<h5>
							[[ *{title} ]]
						</h5>
						<p th:if="${foto.visible}">Visibile</p>
						<p th:unless="${foto.visible}">Non visibile</p>
						<a th:href="@{/admin/fotos/ban/{id} (id=*{id})}" th:if="${foto.banned == false}">Blocca foto</a>
						<a th:href="@{/admin/fotos/clearBan/{id} (id=*{id})}"  th:unless="${foto.banned == false}">Sblocca foto</a>
						<figure class="fotoImage">
							<img class="img-fluid" alt="Foto pic" th:src="*{url}">
						</figure>
						<br>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>